.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.bagContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
}

.bagItems {
  background-color: transparent;
  width: 70%;
}

.bagItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  background-color: #d9d9d9;
  padding: 3%;
  border-radius: 3px;
  height: auto;
  justify-content: space-around;
}

.similarProducts {
  background-color: blue;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  color: white; /* Ajustar el color del texto si es necesario */
}

.summary {
  background-color: #d9d9d9;
  width: 25%;
  padding: 10px; /* Añadir un poco de padding */
  color: white;
  margin: 15px 0;
}
.itemInfo {
  width: 70%;
  text-align: left;
  background-color: transparent;
}
.itemName {
  text-align: left;
  font-size: 20px;
  font-family: fantasy;
  background-color: transparent;
}
.itemPrice {
  font-size: 1.5rem;
  font-family: fantasy;
}
.summaryTitle {
  text-align: left;
  font-size: 18px;
  font-family: fantasy;
  color: black;
  font-weight: normal;
}
.summaryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
  text-align: center;
}
.summaryItemPrice {
  font-size: 18px;
  font-family: normal;
  color: black;
  font-weight: normal;
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.infoBox {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre cada bloque */
}

.infoItem {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.infoIcon {
  width: 30px; /* Tamaño del ícono */
  margin-right: 15px; /* Espacio entre el ícono y el contenido */
}

.infoContent {
  flex: 1;
}

.infoContent h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0; /* Margen para espacio entre el título y el texto */
}

.infoContent p {
  font-size: 14px;
  margin: 0;
  color: #666;
}

.infoContent a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.infoContent a:hover {
  text-decoration: underline;
}
