:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

.img-all-navbar-style {
  width: 50px;
  height: 50px;
}
.img-all-navbar-style:hover {
  cursor: pointer;
}
.img_nabvar_profile_style {
  border-radius: 50%;
  background-color: #f0ff77;
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #004876;
  font-size: 18px;
  font-weight: 600;
}
.img_nabvar_profile_style:hover {
  cursor: pointer;
}
.style-img-all-carrusel {
  width: 100%;
  height: 100%;
}
